[Unit]
Description=My Miscellaneous Service
After=network.target

[Service]
Type=simple
# Another Type option: forking
User=username # Nome do usuario
WorkingDirectory=/home/username/servico
ExecStart=/bin/bash /home/username/servico/codigo-backup.sh --option=123
Restart=on-failure
# Other Restart options: or always, on-abort, etc

[Install]
WantedBy=multi-user.target
